*{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.aboutMe{
    background-image: url("../img/aboutMe.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img-perfil{
    width: 15rem;
}
.bg-black{
    background-color: black;
}
.marginIcon{
    margin:1.5rem 0.5rem;
}
.marginIconSkills{
    margin:2.5rem 3rem;
}
.servicesCars{
    min-height: 15rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: 0.5rem;
    align-items: stretch;
}
.marginCards{
    margin:5rem auto;
}

.paddingConten{
    padding: 2.5rem;
}
.marginConten{
    margin: 7rem auto ;
}
.hover{
    z-index: 0;
    transition: transform 0.2s ease;
}
.hover:hover{
    z-index: 1;
    transform: scale(1.1);
}

#backToTop {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
  #backToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #backToTop:hover {
    cursor: pointer;
    background-color: #333;
  }
  #backToTop:active {
    background-color: #555;
  }
  /*
  #backToTop.show {
    opacity: 1;
    visibility: visible;
  }
  */